#prova {
	widtg: 50%;
	height: 200px;
	background: url(../img/f0421.gif) no-repeat;
	background-position:top,right;
	border: 1px solid black;
}

body { font-size: 1em; }
h1 { font-size: 100%; }
h2 { font-size: 150%; }


 div#contenido { width: 100%; background:red; }
div.principal { width: 80%; background: blue;}

 
/* Las palabras de todos los párrafos deben estar separadas 4 milímetros entre si */
p { word-spacing: 4mm; }
 
/* Los enlaces se deben mostrar con un tamaño de letra de 12 puntos */
a { font-size: 12pt }
 
/* Los elementos <span> deben tener un tamaño de letra de 1 pica */
span { font-size: 1pc }

