body { font-size: 1em; }
h1 { font-size: 100%; }
h2 { font-size: 150%; }


 div#contenido { width: 600px; }
div.principal { width: 80%; }
 
 
/* Las palabras de todos los párrafos deben estar separadas 4 milímetros entre si */
p { word-spacing: 4mm; }
 
/* Los enlaces se deben mostrar con un tamaño de letra de 12 puntos */
a { font-size: 12pt }
 
/* Los elementos <span> deben tener un tamaño de letra de 1 pica */
span { font-size: 1pc }

